<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIUrl" value="https://dev-api.reeliciousai.com"/>
		<add key="RMQ.User" value="congen"/>
		<add key="RMQ.Pass" value="@CongenPass209:"/>
		<add key="Consume.Queue" value="vid-processor"/>
		<add key="Consume.Exchange" value="vid-processor"/>
		<add key="Publish.Exchange" value="user"/>
		<add key="FFMPEG-DIR" value="C:\ProgramData\chocolatey\bin\ffmpeg.exe"/>
		<add key="VideoProcessing-DIR" value="C:\Users\congen_admin\Desktop\vid-processing"/>
	</appSettings>
</configuration>