OPENAI_API_KEY="<OpenAI API Key>"
TTS_API_KEY="<TTS API Key>"
AZURE_OPENAI_ENDPOINT="<OpenAI Endpoint>"
RABBITMQ_HOST="<RabbitMQ Host>"
RABBITMQ_QUEUE="<RabbitMQ Queue>"
RABBITMQ_USER="<RabbitMQ User>"
RABBITMQ_PASS="<RabbitMQ Password>"
API_URL="<API URL>"
AZURE_ENDPOINT_TTS= "<Link to Azure TTS>"
AZURE_ENDPOINT_GPT= "<Link to Azure GPT>"
FILE_DIR="<FIle output dir>"